@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /*logo-font et primary-font*/
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap'); /*enchanted-note font*/
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap'); /*french-chic font*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap'); /*taste-buds-delight font*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); /*palette-of-taste font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*french-chic menu-font*/
@font-face {
    font-family: 'typo_comics_demoregular';
    src: url('../fonts/webfontkit-20200603-104514/typo_comics_demo-webfont.eot');
    src: url('../fonts/webfontkit-20200603-104514/typo_comics_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20200603-104514/typo_comics_demo-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20200603-104514/typo_comics_demo-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20200603-104514/typo_comics_demo-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20200603-104514/typo_comics_demo-webfont.svg#typo_comics_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
};

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./base/base";
@import "./layout/header";
@import "./layout/container";
@import "./layout/menus";
@import "./layout/footer";
@import "./pages/index";
@import "./pages/enchanted-note";
@import "./pages/french-chic";
@import "./pages/taste-buds-delight";
@import "./pages/palette-of-taste";