.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $primary-color;
    padding: 1rem 0;
    font-size: map-get($font-sizes, footer);
    @media screen and (max-width: 470px) {
        font-size: map-get($font-sizes, footer) *0.8;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        &__link {
            text-decoration: none;
            color: $primary-font-color;
        }
    }
}