.menu--enchanted-note {
    $menu-style: map-get($menus, enchanted-note);
    background-color: map-get($menu-style, bg-color);
    color: map-get($menu-style, primary-font-color);
    font-family: map-get($menu-style, primary-font);
    .menu {
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3rem 0;
            .semiquaver {
                width: 30%;
            }
        }
        &__heading {
            font-family: map-get($menu-style, title-font);
            font-size: 2.7rem;
        }
        &__path {
            width: 30%;
            svg {
                width: 100%;
            }
        }
        &__section {
            padding: 0 2.5rem;
            &__title {
                font-size: 1.5rem;
                font-weight: bold;
            }
            ul {
                padding: 0;
            }
        }
        &__price {
            font-weight: bold;
        }
        &__footer {
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
            &__heading {
                font-family: map-get($menu-style, title-font);
                font-size: 2rem;
                font-weight: normal;
            }
            .semiquaver {
                width: 10%;
            }
        }
    }
}