.menu__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    @media screen and (max-width: 870px) {
        flex-direction: column;
        width: 100%
    }
}

.menu__prev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    max-height: 500px;
    margin: 1.5rem;
    -webkit-box-shadow: 0 0 8px 3px #D8D8D8;
    box-shadow: 0 0 10px 3px #D8D8D8;
    cursor: pointer;
    @media screen and (max-width: 870px) {
        width: 90%;
        margin: 1rem;
    }
    .menu {
        &__heading {
            margin: 0 0 1rem 0;
            padding: $padding-heading;
        }
        &__word {
            margin: 0;
            font-weight: bold;
            font-size: map-get($font-sizes, menu-word);
        }
    }
    &--enchanted-note {
        $menu-style: map-get($menus, enchanted-note);
        background-color: map-get($menu-style, bg-color);
        color: map-get($menu-style, primary-font-color);
        font-family: map-get($menu-style, primary-font);
        .menu {
            &__heading, &__footer__heading {
                font-family: map-get($menu-style, title-font);
                font-size: 2rem;
                font-weight: normal;
            }
            &__word {
                text-transform: uppercase;
            }
        }
        figure {
            margin: 0;
            width: 20%;
            .semiquaver {
                width: 100%;
            }
        }
    }
    &--french-chic {
        $menu-style: map-get($menus, french-chic);
        background-color: map-get($menu-style, bg-color);
        color: map-get($menu-style, primary-font-color);
        font-family: map-get($menu-style, primary-font);
        .menu {
            &__heading {
                @include gradient(90deg, #E38913, #8F5BFE);
                font-family: map-get($menu-style, title-font);
                font-size: 1.5rem;
                font-weight: normal;
                @media screen and (max-width: 470px) {
                    font-size: 1.3rem;
                }
            }
        }     
    }
    &--taste-buds-delight {
        $menu-style: map-get($menus, taste-buds-delight);
        background-color: map-get($menu-style, bg-color);
        color: map-get($menu-style, primary-font-color);
        font-family: map-get($menu-style, primary-font);
        .menu {
            &__heading {
                @include gradient(90deg, #0925DB, #42A5FF);
                font-family: map-get($menu-style, title-font);
                font-size: 2rem;
            }
            &__word {
                color: map-get($menu-style, menu-word-color);
                font-weight: normal;
            }
        }
    }
    &--palette-of-taste {
        $menu-style: map-get($menus, palette-of-taste);
        background-color: map-get($menu-style, bg-color);
        color: map-get($menu-style, primary-font-color);
        font-family: map-get($menu-style, primary-font);
        .menu {
            &__heading {
                @include gradient(90deg, #3D923A, #BEFF7F);
                font-family: map-get($menu-style, title-font);
                font-size: 2rem;
                font-weight: normal;
            }
            &__word {
                color: map-get($menu-style, menu-word-color);
                font-weight: normal;
            }
        }
    }    
}