.menu--taste-buds-delight {
    $menu-style: map-get($menus, taste-buds-delight);
    background-color: map-get($menu-style, bg-color);
    color: map-get($menu-style, primary-font-color);
    font-family: map-get($menu-style, primary-font);
    .menu {
        &__heading {
            @include gradient(90deg, #0925DB, #42A5FF);
            font-family: map-get($menu-style, title-font);
            font-size: 4rem;
            @media screen and (max-width: 870px) {
                font-size: 3rem;
            }
            @media screen and (max-width: 470px) {
                font-size: 2rem;
            }
        }
    }
}